In [1]:
ord

ValueError: invalid literal for int() with base 10: 'a'

In [2]:
aaa=[1,22,2,2,2]
sum(set(aaa))

25